<%- include ("./partials/header.ejs") %>

<div class="w-full h-screen flex items-center justify-center bg-[url('https://images.unsplash.com/photo-1547628641-ec2098bb5812?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]">
  <div class="w-96 bg-white px-4 py-5 rounded-md">
    <h1 class="text-3xl leading-none capitalize text-center font-bold text-zinc-700">welcome to Pinterest.</h1>
    <form action="/login" method="post">
      <input class="block mt-2 w-full px-3 py-4 border-4 rounded-lg" type="text" name="username" placeholder="Username">
      <input class="block mt-2 w-full px-3 py-4 border-4 rounded-lg" type="password" name="password" placeholder="Password">
      <input class="block mt-4 w-full px-3 py-4 bg-red-600 hover:bg-red-800 text-white rounded-full" type="submit" value="Login">
    </form>

    <a class="mt-6 block text-zinc-700 hover:text-red-600 text-center" href="/register">Don't have an account? Sign Up</a>

  </div>
</div>

<%- include ("./partials/footer.ejs") %>
