<%- include ("./partials/header.ejs") %>

<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
  <div class="w-96 bg-white px-4 py-5 rounded-md">
    <h1 class="text-3xl leading-none capitalize text-center font-bold text-zinc-700 mb-6">create new account.</h1>
    <form action="/register" method="post">
      <input class="block mt-2 w-full px-3 py-4 border-4 rounded-lg" type="text" name="name" placeholder="Full Name">
      <input class="block mt-2 w-full px-3 py-4 border-4 rounded-lg" type="text" name="username" placeholder="Username">
      <input class="block mt-2 w-full px-3 py-4 border-4 rounded-lg" type="email" name="email" placeholder="Email Address">
      <input class="block mt-2 w-full px-3 py-4 border-4 rounded-lg" type="number" name="contact" placeholder="Contact">
      <input class="block mt-2 w-full px-3 py-4 border-4 rounded-lg" type="password" name="password" placeholder="Password">
      <input class="block mt-4 w-full px-3 py-4 bg-red-600 hover:bg-red-800 text-white rounded-full" type="submit" value="Sign Up">
    </form>

    <a class="mt-6 block text-zinc-700 hover:text-red-600 text-center" href="/">Already have an account? Log In</a>

  </div>
</div>

<%- include ("./partials/footer.ejs") %>
